.videoinfo__channeldesc {
  color: gray;
  font-size: small;
  text-align: right;
}

.videoinfo__stats {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.views {
  flex-grow: 2;
}

.videoinfo__headline > h1 {
  font-size: 12pt;
  text-align: right;
}
.videoinfo__channel {
  text-align: right;
}
.videoinfo__channelinfo > h1 {
  font-size: 12pt;
}
